.contentList {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.contentList h2 {
    margin-bottom: 10px;
}

.contentList ul {
    list-style: none;
    padding: 0;
}

.contentList li {
    padding: 8px;
    margin: 5px 0;
    border-bottom: 1px solid #eee;
}

.contentList li:last-child {
    border-bottom: none;
}

.previewScreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.previewContent {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 600px;
}

.canvasPreview {
    margin: 1rem 0;
}

button {
    padding: 0.5rem 1rem;
    background-color: #c4c6c8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #929394;
}

